@font-face{
    font-family: '둥글';
    font-style: 'normal';
    font-weight: 400;
    src: url('KCC-Ganpan.woff');
}

body{
    margin:0; /* 기본 속성이 8px */
    background-image: url("images/desk3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "둥글";
    min-height: 100vh;
} 


input {
    width: 50%;
    cursor: cell;
    margin: 4px 2px;
    padding: 3px 5px;
}

#add-button{
    margin:5px;
}

.container {
    text-align:center; /* 임의로 추가 */
    background-image: url("images/clipboard5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    max-width: 800px;
    min-height: 90vh;
    margin-top: 0vh;
    margin-bottom: 5vh;
    
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  */
    /* 구글에 box shadow css 치면 양식 나온다 */
}

.task-area {
    border: 1px solid lightgray; 
    margin-top: 1.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.task-tabs {
    display: flex; /* flex 적용을 해야 글자들이 가로로 정렬된다 */
    border-bottom: 1px solid lightgray;
    position: relative; 
    justify-content: space-evenly;
    
}

.task-tabs div{
    padding: 1em; 
    cursor: pointer
}

#under-line{
    background-color: lightskyblue;
    position: absolute;
    width: 0px;
    left: 0px;
    top: 0px;
    height: 4px;
    padding: 0px;
    transition: 0.25s;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done{
    text-decoration: line-through;   /* 글자에 찍찍 긋기 */
}

.task-done-background{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: lightgray;
}

span {
    position: relative;
}